<div style = "background-color: @Model.GetColor();">


<h1>Harry Potter Story</h1>
<p>When @Model.GetName() Potter starts his 3rd year at Hogwarts @Model.GetNoun()
   of Witchcraft
and @Model.GetSecondNoun(),
he finds out a prisoner named Sirius Black has escaped and is on the loose.</p>
<p>Dementors are called to defend the Snow, and @Model.GetAdjective() a
  Defence Against The Arts
  teacher is called named Proffesor Lupin.</p>
</div>
